TELEGRAM_BOT_TOKEN=your_telegram_token_here
GEMINI_API_KEY=your_gemini_api_key_here
MY_CHAT_ID=your_telegram_chat_id_here
FB_PAGE_URL=https://www.facebook.com/YOUR_PAGE
FB_GROUPS=https://www.facebook.com/groups/GROUP1,https://www.facebook.com/groups/GROUP2
MAKE_WEBHOOK_POST=https://hook.make.com/xxx
MAKE_WEBHOOK_COMMENT=https://hook.make.com/xxx
MAKE_WEBHOOK_TELEGRAM_CHANNEL=https://hook.make.com/xxx
MAKE_WEBHOOK_INSTAGRAM=https://hook.make.com/xxx
TELEGRAM_CHANNEL_ID=@your_channel
UPSTASH_REDIS_REST_URL=https://xxx.upstash.io
UPSTASH_REDIS_REST_TOKEN=your_token
CRON_SECRET=your_cron_secret
